<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns="http://www.w3.org/1999/html">
    <title>UpdateUser</title>
</head>
<body>
<a href="/logout"><button type="button">Выйти</button></a>
<br>
<form th:method = "patch" th:action = "@{/admin/update}" th:object= "${user}">
    <br>
    <label for="id">ID: </label>
    <input type="text" th:field="*{id}" id="id" readonly>
    <br>
    <br>
    <label for = "username"> Username:</label>
    <input type = "text" th:field = "*{username}" id = "username"/>
    <br>
    <br>
    <label for = "email"> Email:</label>
    <input type = "text" th:field = "*{email}" id = "email"/>
    <br>
    <br>
    <label for = "password"> Password:</label>
    <input type = "password" th:field = "*{password}" id = "password"/>
    <br>
    <br>
    <label>Role:
        <select size="2" multiple name="roles" >
            <option value="1">USER</option>
            <option selected="selected" value="2">ADMIN</option>
        </select>
    </label>
    <br>
    <br>
    <input type = "submit" value = "OK"/>
</form>

</body>
</html>